<ion-header>
  <ion-toolbar>
    <ion-title>Añadir registro {{titulo}} </ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="dismissModal()">Close</ion-button>
    </ion-buttons>
  </ion-toolbar>
  
</ion-header>
<ion-content>
  <ion-row>
    <ion-col>
      <h3 class="ion-text-center">Llegada del camión</h3>
    </ion-col>
  </ion-row>
  
    <ion-row>
      <ion-col>
        <ion-input type="text" placeholder="Ingrese las placas en texto" #placasT></ion-input>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-buttons>
          <ion-button (click)="getPlacas()">Agregar placas</ion-button>
        </ion-buttons>
        <br>
        <img [src]="placasU" >
          <br>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-input type="text" placeholder="Ingrese la fecha y hora" #FechaHora></ion-input>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-input type="text" placeholder="Ingrese tipo de material" #Tmaterial></ion-input>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-input type="number" placeholder="Ingrese la cantidad" #cantidad></ion-input>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-item >
          <ion-label>Medida</ion-label>
          <ion-select #unidadMed>
            <ion-select-option value="m3">m<sup>3</sup></ion-select-option>
            <ion-select-option value="Ton">Tonelada</ion-select-option>
          </ion-select>
        </ion-item>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <h3 class="ion-text-center">Registro del suministro</h3>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-buttons>
          <ion-button (click)="getllegada()">Agregar llegada</ion-button>
        </ion-buttons>
        <br>
        <img [src]="camionLlegada" >
          <br>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-buttons>
          <ion-button (click)="getCarga()">Agregar carga</ion-button>
        </ion-buttons>
        <br>
        <img [src]="camionCarga">
          <br>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-buttons>
          <ion-button (click)="getDescarga()">Agregar descarga</ion-button>
        </ion-buttons>
        <br>
        <img [src]="camionDescargando">
          <br>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-buttons>
          <ion-button (click)="getCdescargado()">Agregar material desargado</ion-button>
        </ion-buttons>
        <br>
        <img [src]="camionDescargado" >
          <br>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-input type="text" placeholder="Ingrese la hora de descarga" #hora></ion-input>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <h3 class="ion-text-center">Confirmacion del registro</h3>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-buttons>
          <ion-button (click)="getFirma()">Agregar firma</ion-button>
        </ion-buttons>
        <br>
        <img [src]="firma">
          <br>
      </ion-col>
    </ion-row>
  <ion-row>
    <ion-col>
      <ion-button color="primary" (click)="addRegistro(placasT, FechaHora,Tmaterial, cantidad, unidadMed,hora)">
        Guardar
      </ion-button>
    </ion-col>
  </ion-row>
</ion-content>